/* Write your CSS here */
.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  background-size: cover;
  padding: 30px;
}

.input-container {
  display: flex;
  height: 30px;
  flex-direction: row;
  margin-top: 10px;
}

.capital {
  color: #000000;
  font-size: 20px;
}

.description {
  color: #323f4b;
  margin-left: 10px;
  font-size: 20px;
}

.answer {
  color: #1e293b;
  font-size: 30px;
  font-weight: bold;
}
